@media (max-width: 2560px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;

        font-family: Georgia, "Times New Roman", Times, serif;
    }

    html,
    body {
        width: 100%;
        height: 100%;
    }

    /* page 1 start */
    .page1 {
        width: 100%;
        /* height: 100vh; */
        background-color: #431717;
    }

    .page1 .row1 {
        height: 30px;
        color: red;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: #080808;
        border-bottom: 1px solid white;
    }

    .page1 .row1 .part-small {
        display: none;
    }

    .page1 .row1 .part3 {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .page1 .row1 .part3 .part1-div {
        margin-left: 1.5vw;
    }

    .page1 .row1 a {
        text-decoration: none;
        color: red;
    }

    .page1 .row2 {
        width: 100%;
        height: 80px;
        background-color: #431717;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 10px;
    }

    .page1 .row2 .col1 {
        width: 60px;
        height: auto;
        background-color: #431717;
        border-radius: 50%;
        overflow: hidden;
    }

    .page1 .row2 .col1 img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        object-position: center;
    }

    .page1 .row2 a {
        text-decoration: none;
        color: rgb(253, 248, 248);
    }

    .page1 .row2 .col2 a {
        padding: 0px 5px;
    }

    .page1 .row2 .col3 #menu {
        display: none;
    }

    .page1 .row2 .col3 {
        display: flex;
    }

    .page1 .row2 .col3 i {
        padding: 0px 8px;
    }

    .page1 .for-hover a:hover {
        /* font-size: 2.2vh; */
        font-weight: 800;
        color: green;
    }

    .page1 .row3 {
        width: 100%;
        height: calc(100vh - 110px);
        /* border-radius: 50px;
        overflow: hidden; */
    }

    .page1 .row3 img {
        width: 100%;
        height: 100%;
    }

    .page2 {
        width: 100%;
        min-height: 100vh;
        background-color: #7b3535;
    }

    .page2 .row1 {
        width: 100%;
        height: 30vh;
        /* background-color: gray; */
        display: flex;
        justify-content: space-between;
        padding: 16px 30px;
        text-transform: uppercase;
        color: #0a0a0a;
    }

    .page2 .row1 .col1 h5 {
        font-size: 1.2vw;

    }

    .page2 .row1 .col2 h1 {
        font-size: 4.8vw;
        line-height: 5vw;
    }

    .image-containerfor-row2 {
        width: 30%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        display: block;
        border-radius: 20px;
        overflow: hidden;
    }

    .image-containerfor-row2 img {
        width: 100%;
        height: 100%;
        display: block;

    }

    .page2 .row2 {
        width: 100%;
        height: 35vh;
        display: flex;
        padding-top: 30px;
        /* align-items: center; */
        justify-content: space-around;
    }

    .page2 .row3 {
        width: 100%;
        height: 35vh;
        display: flex;
        padding-top: 30px;
        /* align-items: center; */
        justify-content: space-around;
    }

    .page3 {
        width: 100%;
        min-height: 100vh;
        background-color: #d8c8c8;
    }

    .page3 .row1 {
        width: 100%;
        height: 10vh;
        background-color: #7b3535;
    }

    .page3 .row2 {
        width: 100%;
        /* height: 35vh; */
        /* background-color: #bea0a0; */
        text-transform: uppercase;
        padding: 77px 30px;
    }

    .page3 .row2 h1 {
        font-size: 5vw;
    }

    .page3 .row2 h6 {
        font-size: 1vw;
        line-height: 1.6vw;
    }

    .page3 .row3 {
        width: 100%;
        min-height: 50px;
        /* background-color: green; */
        display: flex;
        align-items: center;
        color: #1b1b1bc0;
        text-transform: capitalize;
        padding: 0px 20px;
    }

    .page3 .row3 h6 {
        margin: 0px 10px;
        font-size: 3vw;
    }

    .page3 .row4 {
        margin-top: 20px;
        width: 100%;
        min-height: 45vh;
        /* background-color: green; */
        padding: 30px 20px;
        /* overflow: hidden; */
    }

    .swiper {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .swiper-slide {
        /* background-position: center;
        background-size: cover; */
        width: 300px !important;
        /* width: 22% ; */
        height: 200px !important;
        overflow: hidden;
        /* background-color: #7b3535; */
        border: 1px solid black;
        border-radius: 10px;
        padding: 20px 20px;
        text-transform: capitalize;
        display: flex;


    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
    }


    .swiper-slide .part2 {
        margin-top: 6rem;
        display: flex;
        gap: 10rem;
    }

    .swiper-slide .part2 .col1 {
        width: 80px;
        height: 20px;
        border: 1px solid black;
        border-radius: 40px;
        padding: 2px 5px;
    }

    .swiper-slide:hover {
        background-color: #080808;
        color: white;

    }

    .page4 {
        width: 100%;
        min-height: 100vh;
        background-color: rgb(5, 58, 62);

    }

    .page4 .row1 {
        display: flex;
        gap: 45rem;
        color: white;
        padding: 2.5% 4%;
        text-transform: uppercase;
    }

    .page4 .row1 h1 {
        font-weight: 200;
    }

    .page4 .row2 {
        width: 100%;
        height: 36.1%;
        /* background-color: crimson; */
        /* padding: 0% 20%; */
        margin: 40px 0px;
        display: flex;
        align-items: center;
        justify-content: space-around;

    }

    .page4 .row3 {
        margin-top: 1.5%;
        width: 10%;
        height: 36.1%;
        /* background-color: crimson; */

    }

    .page4 .row2 .col1 {
        display: flex;
    }

    .page4 .row2 .col1 .contain-image {
        width: 90vh;
        height: 35vh;
        background-color: black;
        border-radius: 20px;
        overflow: hidden;

    }

    .page4 .row2 .col1 .contain-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        display: block;


    }

    .page4 .row2 .col1 .image-details {
        margin-left: 8%;
        width: 80vh;
        height: 35vh;
        background-color: rgb(4, 41, 44);
        padding: 20px 30px;
        text-transform: capitalize;
        color: white;
        border-radius: 20px;

    }

    .page4 .row2 .col1 .image-details .part1 {
        border: 1px solid black;
        width: 72px;
        padding: 1px 3px;
        font-size: 20px;
        border: 2px solid white;
        color: #080808;
        background-color: aliceblue;
        border-radius: 45px;

        /* width: 80px;
        height: 20px;
        border: 1px solid black;
        border-radius: 40px;
        padding: 2px 5px; */
    }

    .page4 .row2 .col1 .image-details .part2 {

        margin-top: 15px;
        font-size: 1.5rem;

    }

    .page4 .row2 .col1 .image-details .part3 {
        margin-top: 15px;
        font-size: 16px;
        font-weight: 100;
    }

    .mycol1 {
        display: flex;
        flex-direction: row-reverse;
        gap: 5rem;
    }

    .page4 .row3 {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .page4 .row3 .allfaculty {
        width: 160px;
        height: 45px;
        /* padding: 10px 10px; */
        border: 1px solid white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 40px;
        color: white;
        text-transform: uppercase;
        font-size: 12px;

    }

    .page4 .row3 .allfaculty i {
        margin-left: 5px;
    }

    .page5 {
        width: 100%;
        min-height: 100vh;
        /* background-color: crimson; */
    }

    .page5 .onlycolor {
        width: 100%;
        height: 50px;
        background-color: rgb(5, 58, 62);
    }

    .page5div1 {
        width: 100%;
        min-height: 30vh;
        display: flex;
        align-items: center;
        margin: 50px 0px;
        justify-content: space-around;
    }

    .page5div1 .part {
        padding: 0px 20px;
        border-right: 1px solid black;

    }

    .big {
        font-size: 5rem;
        font-weight: 100;
        color: rgba(248, 16, 16, 0.616);
    }

    .page5div2 {
        width: 100%;
        min-height: 50vh;
        display: flex;
        justify-content: space-around;
        background-color: black;
        color: #fdfafa;
        text-transform: uppercase;
    }

    .page5div2 .part1 {
        width: 40%;
        height: 100%;
        padding: 60px 80px;
        font-size: 25px;
        display: flex;
        /* background-color: yellow; */
    }

    .page5div2 .part1 h6 {
        font-size: 1.5vw;
    }

    .page5div2 .part2 {
        width: 60%;
        height: 100%;
        padding: 50px 60px;
        /* background-color: forestgreen; */
    }

    .page5div2 .part2 h1 {
        font-size: 4vw;
        line-height: 4vw;
    }

    .page5div2 .part2 h6 {
        margin: 50px 2px;
        font-size: 1vw;
    }

    /* page6     */
    .page6 {
        width: 100%;
        min-height: 110vh;
        /* background-color: #7a6464; */
    }

    .page6 .row1 {
        width: 100%;
        height: 40vh;
        display: flex;
        /* background-color: #ec8e8e; */
    }

    .page6 .row1 .part1 {
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-size: 2vw;
    }

    .page6 .row1 .part2 {
        width: 60%;
        height: 100%;
        display: flex;
        align-items: end;
        padding-bottom: 2vw;
        text-transform: uppercase;
        font-size: 1.4rem;
    }

    .page6 .row2 {
        width: 100%;
        height: 60vh;
        padding: 65px 40px;
        /* background-color: rgb(82, 116, 15); */
    }

    .page6 .row2 .owl-carousel .item .contain-img {
        width: 20rem;
        height: 15rem;
        background-color: #080808;
        border-radius: 20px;
        overflow: hidden;
    }

    .page6 .row2 .owl-carousel .item .contain-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;

    }

    .page6 .row2 .owl-carousel .item .textdiv{
        margin-top: 20px;
        padding: 0px 10px;
        text-transform: capitalize;
    }
    .page6 .row2 .owl-carousel .item .textdiv span{
        font-size: 2rem;
        font-weight: 700;
        
    }
    .page6 .row2 .owl-carousel .item .textdiv p{
        font-size: 1rem;
        font-weight: 300;
        margin-top: 10px;
        
    }

    .page7{
        width: 100%;
        height: 100vh;
        background-color: cadetblue;
        color: #fdfafa;
    }
    
    .page7 .onlycolor{
        height: 8vh;
        width: 100%;
        background-color: white;
    }
    .page7 .middlerow{
        height: 84vh;
        width: 100%;
        background-color: #080808;
        display: flex;
    }

    .page7 .middlerow .col1{
        /* background-color: #431717; */
        width: 40%;
        height: 84vh;
        padding: 12vw 5vw;

    }

    .page7 .middlerow .col1 .writeen h6{
        font-size: 3vw;
        font-weight: 200;
        color: red;
        text-transform: uppercase;
    }
    .page7 .middlerow .col1 .writeen h2{
        font-size: 5vw;
        text-transform: capitalize;
        margin-top: 3px;
    }
    .page7 .middlerow .col1 .writeen h3{
        font-size: 4vw;
        text-transform: capitalize;
        margin-top: 4px;
        margin-left: 85px;
    }
    .page7 .middlerow .col2{
        background-color: #431717;
        width: 60%;
        height: 84vh;
        display: flex;
        justify-content: space-between;
    }
    .page7 .middlerow .col2 .part1{
        width: 18.5rem;
        height: 3rem;
        background-color: green;
    }
    .page7 .middlerow .col2 .part3{
        width: 8rem;
        height: 5rem;
        background-color: rgb(17, 33, 17);
    }
    .page8{
        width: 100%;
        min-height: 100vh;
        background-color: cornsilk;
        display: flex;
        color: #080808;
        padding: 10px 10px;
    }
    
    .page8 .col1{
        padding: 5vw 5vw;
        width: 40%;
        height: 100%;
    }
    .page8 .col1 .part1{
        text-transform: uppercase;
        font-size: 1.8vw;
        margin-bottom: 10rem;
    }
    .page8 .col1 .part2 h6{
        text-transform: capitalize;
        font-size: 2vw;
        margin-top: 20px;

    }
    .page8 .col2{
        padding-top: 3vw;
        padding-left: 5vw;
        width: 100%;
    }
    .page8 .col2 .part1{
        text-transform: uppercase;
        font-size: 2vw;

    }
    .page8 .col2 .part2{
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
    }
    .page8 .col2 .part2 .contain-details{
        
        background-color: yellow;
        height: 30vw;
        width: 28vw;

    }
}

@media (max-width:1270px) {
    .page4 .row1 {
        display: flex;
        gap: 26rem;
        color: white;
        /* padding: 2.5% 4%;
        text-transform: uppercase; */
    }

    .page4 .row2 .col1 {
        /* display: flex;
        flex-direction: column; */
        /* padding: 2.5% 4%;
        text-transform: uppercase; */
    }

    .page4 .row2 .col1 .contain-image {
        width: 70vh;
        height: 35vh;
        /* border-radius: 20px; */
        /* overflow: hidden; */
    }

    .page4 .row2 .col1 .image-details {
        width: 65vh;
        height: 35vh;
        margin-left: 2%;

    }

    .page4 .row2 .col1 .image-details .part3 {
        margin-top: 15px;
        font-size: 14px;
        font-weight: 100;
    }

    .mycol1 {
        gap: 1rem;
        margin-left: 0px;
    }

    /* .row2 .col1 .image-details {
        margin-left: 0%;
    } */

    .page5div1 {
        /* width: 100%;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: space-around; */
        /* flex-direction: column; */
    }

    .page5div1 .part {
        padding: 20px 20px;
        /* border-bottom: 1px solid black; */
        /* border-right: none; */
    }

    .page5div2 .part1 h6 {
        font-size: 1.5vw;
    }

    .page6 .row1 .part1 {
        font-size: 1.5vw;
    }

    .page6 .row1 .part2 {
        font-size: 1rem;
    }

    .page6 .row2 .owl-carousel .item .contain-img {
        width: 18rem;
        height: 15rem;

    }

}



@media (max-width: 970px) {

    .page1 .row2 .col1 {
        width: 45px;
        height: auto;
        background-color: #431717;
        border-radius: 50%;
        overflow: hidden;
    }

    .page1 .row2 .col3 #menu {
        display: block !important;
    }

    .page1 .row2 .col2 a {
        display: none;
    }

    .page1 .row3 {
        height: 60%;
    }

    .page1 .both-buttons {
        --swiper-navigation-size: 30px;
    }

    .page2 .row1 {
        width: 100%;
        height: 2vh;
        display: inline-block;
        padding: 20px 20px;
        text-transform: uppercase;
        color: #0a0a0a;
    }

    .page2 .row1 .col2 h1 {
        margin-top: 20px;
        position: relative;
        /* left: 12vw; */
    }
    .page3{
        min-height: auto;
    }

    .page3 .row2 {
        width: 100%;
        /* height: 35vh; */
        background-color: #bea0a0;
        text-transform: uppercase;
        padding: 20px 20px;
    }

    .page4 .row1 {
        display: flex;
        flex-direction: column;
        gap: 4rem;
        color: white;
    }

    .page4 .row1 .col2 {
        margin-left: 20rem;
    }

    .page4 .row2 .col1 {
        /* display: flex;
        flex-direction: column; */
        /* padding: 2.5% 4%;
        text-transform: uppercase; */
    }

    .page4 .row2 .col1 .contain-image {
        width: 60vh;
        height: 35vh;
        /* border-radius: 20px; */
        /* overflow: hidden; */
    }

    .page4 .row2 .col1 .image-details {
        width: 48vh;
        height: 35vh;

    }

    .page4 .row2 .col1 .image-details .part2 {
        margin-top: 15px;
        font-size: 1.2rem;
    }

    .page4 .row2 .col1 .image-details .part3 {
        font-size: 12px;
    }

    .page5div1 {
        /* width: 100%;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: space-around; */
        flex-direction: column;
    }

    .page5div1 .part {
        padding: 20px 20px;
        margin-bottom: 10px;
        border-bottom: 1px solid black;
        border-right: none;
    }
}

@media (max-width: 770px) {
    .page1 .row2 {
        height: 55px;
    }

    .page1 .row3 {
        height: 50%;
    }

    .page1 .both-buttons {
        --swiper-navigation-size: 25px;
    }

    .page2 .row2 .col1 {
        display: none;
    }

    .page2 .row3 .col3 {
        display: none;
    }

    .page4 .row1 {

        gap: 2rem;

    }

    .page4 .row1 h1 {
        font-weight: 100;
        font-size: 4vw;
    }

    .page4 .row1 .col2 {
        margin-left: 12rem;
    }

    .page4 .row2 .col1 {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        /* padding: 2.5% 4%;
        text-transform: uppercase; */
    }

    .page4 .row2 .col1 .contain-image {
        width: 60vh;
        height: 35vh;
        /* border-radius: 20px; */
        /* overflow: hidden; */
    }

    .page4 .row2 .col1 .image-details {
        width: 60vh;
        height: 35vh;

    }

    .page4 .row2 .col1 .image-details {
        margin-left: 0%;
    }

    .page5div2 .part2 h6 {
        margin: 30px 2px;
        font-size: 1vw;
    }

    .page5div2 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        min-height: 10vh;

    }

    .page5div2 .part1 {
        width: 40%;
        height: 0vw;
        padding: 30px 20px;
        font-size: 60px;
        display: flex;
        /* background-color: yellow; */
    }

    .page5div2 .part2 {
        width: auto;
        margin-left: 18rem;
        padding: 0px 0px;
    }

    .page5div2 .part1 h6 {
        font-size: 2.5vw;
    }

    .page5div2 .part2 h6 {
        font-size: 1.5vw;
        margin: 11px 2px;
    }

    .page6 .row1 .part1 {
        font-size: 1.5vw;
    }

    .page6 .row1 .part2 {
        font-size: 1rem;
        padding: 0px 10px;
    }

    .page6 .row1 {
        flex-direction: column;

    }

    .page6 .row1 .part2 {
        align-items: flex-start;
        margin-left: 170px;
    }

}

@media (max-width:556px) {
    .page5div2 .part2 {
        margin-left: 11rem;
    }
}

@media (max-width: 425px) {
    .page1 .row2 {
        height: 50px;
    }

    .page1 .row2 .col1 {
        width: 30px;
        height: auto;
        background-color: #431717;
        border-radius: 50%;
        overflow: hidden;
    }

    .page1 .row1 .part-small {
        display: block !important;
    }

    .page1 .row1 .contacts {
        display: none;
    }

    .page1 .row3 {
        height: 28%;
    }

    .page1 .both-buttons {
        --swiper-navigation-size: 15px;
    }

    .page2 .row2 {
        width: 100%;
        height: 35vh;
        display: inline-block;

    }

    .page2 .row3 {
        width: 100%;
        height: 35vh;
        display: inline-block;

    }

    .image-containerfor-row2 {
        width: 80%;
        height: 100%;
        border-radius: 20px;
        margin: 20px 32px;
        background-color: #080808;
    }

    .page3 .row3 {
        width: 100%;
        min-height: 30px;
        padding: 0px 10px;
    }

    .page3 .row3 h6 {
        margin: 0px 5px;
    }

    .page4 .row1 {

        gap: 0rem;

    }

    .page4 .row1 h1 {
        font-weight: 100;
        font-size: 4vw;
    }

    .page4 .row1 .col2 {
        margin-left: 8rem;
    }

    .page4 .row2 .col1 .contain-image {
        width: 48vh;
        height: 35vh;
        /* border-radius: 20px; */
        /* overflow: hidden; */
    }

    .page4 .row2 .col1 .image-details {
        width: 48vh;
        height: 35vh;
        margin: 0px 0px;

    }

    .page5div1 .part {
        padding: 20px 20px;
        border-bottom: 1px solid black;
        border-right: none;
    }

    .page6 .row1 {
        width: 100%;
        height: 30vh;
    }

    .page6 .row1 .part2 {
        align-items: flex-start;
        margin-left: 150px;
    }

}

@media (max-width:320px) {
    .page4 .row2 .col1 .contain-image {
        width: 40vh;
        margin: 0px 10px;
    }

    .page4 .row2 .col1 .image-details {
        width: 40vh;
        margin: 0px 10px;
    }

    .page5div1 {
        align-items: normal;
    }

    .page5div2 {
        justify-content: center;
    }

    .page5div2 .part2 {
        margin-left: 8rem;
    }

    .page5div2 .part2 h6 {
        font-size: 5px;
    }

    .page6 .row1 .part2 {
        align-items: flex-start;
        margin-left: 120px;
        font-size: 8px;
    }

    .page6 .row2 .owl-carousel .item .contain-img {
        width: 14.9rem;
        height: 15rem;

    }

    .page6 .row2 {
        padding: 10px 40px;
    }

}